#tw
{
padding:10px;
display:block;
font-size:20px;

width:45%;
background-color:#99d6ff;
overflow:wrap;
}
#un
{
font-weight:bold;
}

.rite{
float:right;
font-size:20px;
position:relative;
top:5px;
text-decoration:none
}
#nw{
position:relative;
top:50px;
left:100px;

}
.dt
{
float:right;
color:gray;
font-size:10px;
}
