<p id="notice"><%= notice %></p>
<div id="bgimage">
<p>Welcome to Infi_Twitter.<br>Ready to Join?</p>
<div id="reg">
<%= render 'form', user: @user %>
</div>
<%= link_to 'Already a member?', users_path , :id => "back"%>
</div>
